{% extends 'general/main.html' %}
{% load static %}
{% block sidebar %}
    {% include 'events/sidebar.html' %}
{% endblock%}
{% block content%}
<form method="POST" action="{% url 'events:create_events' %}" class="event-form">{% csrf_token %}
<div class="card text-center" style="width: 30rem;">
  <div class="card-header">
    Erstelle einen neuen Termin
  </div>
  <div class="card-body">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Termin</span>
      </div>
      <input type="text" class="form-control" id="name" name="name" placeholder="Terminname">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Beschreibung</span>
      </div>
      <textarea class="form-control" aria-label="With textarea" id="description" name="description" placeholder="Beschreibung"></textarea>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Art des Termins</label>
      </div>
      <select class="custom-select" id="kind" name="kind">
        <option selected>Wähle aus...</option>
        {% for kind in kinds %}#
          <option value="{{kind.id}}">{{kind.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Einheit</label>
      </div>
      <select class="custom-select" id="unit" name="unit">
        <option selected>Wähle aus...</option>
        {% for unit in units %}#
          <option value="{{unit.id}}">{{unit.slug}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Datum</span>
      </div>
      <input class="form-control" id="date" name="date" placeholder="DD.MM.YYYY" type="date"/>
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Uhrzeit</span>
      </div>
      <input class="form-control" id="date" name="time" placeholder="SS:MM" type="time"/>
    </div>
  </div>
  <div class="card-footer text-muted">
        <div class="login-div-button">
        <input type="submit" value="Hinzufügen" name="save" id="save" class="btn btn-success login-button"/>
    </div>
  </div>
</div>
</form>

{% endblock %}  