{% extends 'general/main.html' %}
{% load static %}
{% block sidebar %}
    {% include 'events/sidebar.html' %}
{% endblock%}
{% block content%}
    <form method="POST" class="event-form">{% csrf_token %}
      <div class="card text-center" style="width: 30rem;">
        <div class="card-header">
          {{titel}}
        </div>
        <div class="card-body">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Kategorie</span>
            </div>
            {{form.name}}
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Beschreibung</span>
            </div>
            {{ form.description}}
          </div>
      </div>
      <div class="card-footer text-muted">
          <input type="submit" value="Hinzufügen" name="save" id="save" class="btn btn-success login-button"/>
      </div>
    </form>    
{% endblock %}