{% load static %}
<div class="row row-cols-2 row-cols-md-4">
    {% for event in events %}
        <div class="card text-center">
            <div class="card-header">
                {{event.date}}, {{event.time}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <ul class="list-unstyled">
                    <li>{{event.description}}</li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
                <a class="card-footer btn btn-light" href="{% url 'units:show_units' unit=event.unit %}">
                    Einheit: {{event.unit}}
                </a>

        </div>
    {% endfor %}
</div>