<form method="POST" action="{% url 'newsletters:create_news' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Titel</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Terminname">
  </div>
  <div class="form-group">
    <label for="message">Nachricht</label>
    <input type="text" class="form-control" id="message" name="message" placeholder="Nachricht">
  </div>
  <div class="form-group">
    <label class="control-label" for="published">Datum</label>
    <input class="form-control" id="published" name="published" placeholder="DD.MM.YYYY" type="date"/>
  </div>
  <div class="form-group">
    <input class="form-control" id="created_by" name="created_by" placeholder="" type="hidden" value="{{ user.username }}"/>
  </div>

  <div class="login-div-button">
      <input type="submit" value="Save" name="save" id="save" class="btn btn-success login-button">Hinzufügen</input>
  </div>
</form>
