{% load static %}
<div class="card-columns">
    {% for unit in units %}
    <div class="card text-left" style="width: auto; height: auto;">
        <div class="card-header">
        Einheit: {{unit.slug}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Adresse:</h5>
            <ul class="list-unstyled">
                <li>{{unit.name}}</li>
                <li>{{unit.street}} {{unit.housenumber}}</li>
                <li>{{unit.postcode}} {{unit.place}}</li>
            </ul>
        </div>
        <div class="card-footer text-muted">
            <h5 class="card-title">Übungsdienstzeiten:</h5>
            <ul class="list-unstyled">
                <li>Tag: {{unit.day}}</li>
                <li>Beginn: {{unit.starttime}}</li>
                <li>Ende: {{unit.endtime}}</li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>