{% extends 'general/main.html' %}
{% load static %}
{% load imagefit %}
{% block sidebar %}
    {% include 'units/sidebar.html' %}
{% endblock%}
{% block content%}
<div class="card-columns">
  {% for nav_unit in nav_units %}
  <div class="card text-left" style="width: auto; height: auto;">
      <div class="card-header">
        <div class="row">
          <div class="col-10 my-auto">
            <h4>Einheit: {{nav_unit.slug}}</h4>
          </div>
          <div class="col-2 nav justify-content-center">
            <a class="nav-link btn btn-light" href="{% url 'units:unit_detail' nav_unit.slug %}">
              <img src="{% static 'icons/show.svg' %}">
            </a>
          </div>
        </div>
      
      </div>
      <div class="card-body">
          <h5 class="card-title">Adresse:</h5>
          <ul class="list-unstyled">
              <li>{{nav_unit.name}}</li>
              <li>{{nav_unit.street}} {{nav_unit.housenumber}}</li>
              <li>{{nav_unit.postcode}} {{nav_unit.place}}</li>
          </ul>
      </div>
      <div class="card-footer text-muted">
          <h5 class="card-title">Übungsdienstzeiten:</h5>
          <ul class="list-unstyled">
              <li>Tag: {{nav_unit.day}}</li>
              <li>Beginn: {{nav_unit.starttime}}</li>
              <li>Ende: {{nav_unit.endtime}}</li>
          </ul>
      </div>
  </div>
  {% endfor %}
</div>

  <div class="container-fluid ">
    <div class="col-sm-10 pl-0">
        {% for newsletter in newsletters %}
        <div class="pb-3">
          <div class="card text-center">
            <div class="card-header">
              <div class="row">
                {#% if user.is_authenticated and e_user == True%}
                    <!--<div class="col-2"><a href="{% url 'newsletters:news_edit' pk=newsletter.pk %}"><img src="{% static 'icons/edit.svg' %}"></a></div>-->
                {#% endif %}
                <div class="col">{{newsletter.topic}}</div>
                {#% if user.is_authenticated and e_user == True%}
                    <!--<div class="col-2"><a href="{% url 'newsletters:news_delete' pk=newsletter.pk %}"><img src="{% static 'icons/delete.svg' %}"></a></div>-->
                {#% endif %}
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{newsletter.name}}</h5>
              <p class="card-text">{{newsletter.message}}</p>
            </div>
            <div class="card-footer text-muted">
              Erstellt von {{newsletter.created_by}} | {{newsletter.published}}.
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}