{% extends 'general/main.html' %}
{% load static %}
{% load imagefit %}
{% block sidebar %}
    {% include 'documents/sidebar.html' %}
{% endblock%}
{% block content%}
<div>
        <table class="table table-striped table-bordered table-sm card-header">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Name</th>
                    <th class="text-center" scope="col">Ersteller</th>
                    <th class="text-center" scope="col">Letztes Datum</th>
                    <th class="text-center" scope="col">Ansehen</th>
                    <th class="text-center" scope="col">Download</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                    <tr>
                        <td class="align-middle">{{document.name}}</td>
                        <td class="align-middle">{{document.owner}}</td>
                        <td class="align-middle">{{document.published}}</td>
                        <td class="align-middle text-center">
                            <a  class="btn" title="Anschauen" href="{% url 'documents:document_detail' name=document.name %}">
                                <img src="{% static 'icons/show.svg' %}">
                            </a>                           
                        </td>
                        <td class="align-middle text-center">            
                            <a class="btn" title="Download" href="{% url 'documents:document_download' id=document.pk %}">
                                <img src="{% static 'icons/download.svg' %}">
                            </a>      
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}