{% load static %}
<div class="card text-left">
    <div class="card-header text-center">
      Dokumente / Vorlagen
    </div>
    {% if user.is_authenticated or c_admin == True%}
        <div class="card-footer nav flex-column nav-pills">
            <a class="nav-link btn btn-light"  title="Lade eine neue Datei hoch"  href="{% url 'documents:document_create' %}">
                <img src="{% static 'icons/upload.svg' %}">
            </a>
        </div>
        <div class="card-footer nav justify-content-center nav-pills">
            <a class="nav-link btn btn-light" title="Erstelle eine neue Kategorie" href="{% url 'events:kind_create' %}">
                <img src="{% static 'icons/library_add.svg' %}">
            </a>
            <a class="nav-link btn btn-light" title="Erstelle eine neue Kategorie" href="{% url 'events:kind_show' %}">
                <img src="{% static 'icons/library_books.svg' %}">
            </a>
        </div>
    {% endif %}
</div>